<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Laura Rosales" />
    <meta name="description" content="&#127856; Laura Rodriguez Rosales, pastelera y repostera.">
    <meta name="Keywords" content="sin gluten, pastelera, repostera">

    <meta property="og:url" content="https://laurarosales.es" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Laura Rosales | Pastelera" />
    <meta property="og:description" content="&#127856; Laura Rodriguez Rosales, pastelera y repostera en bilbao." />
    <meta property="og:image" content="https://cdn.laurarosales.es/images/website.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="&#127856; Laura Rodriguez Rosales, pastelera y repostera en bilbao." />
    <meta name="twitter:title" content="Laura Rosales | Pastelera" />
    <meta name="twitter:image" content="https://cdn.laurarosales.es/images/website.png" />


    <!-- CSS Files
      ================================================== -->
    <link href="https://cdn.laurarosales.es/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.laurarosales.es/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.laurarosales.es/css/animate.css" rel="stylesheet">
    <link href="https://cdn.laurarosales.es/css/owl.carousel.css" rel="stylesheet">
    <link href="https://cdn.laurarosales.es/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="https://cdn.laurarosales.es/css/style.css" rel="stylesheet">
    <link href="https://cdn.laurarosales.es/css/responsive.css" rel="stylesheet">

    <link rel="icon" href="~/favicon.ico">

    <title>@ViewData["Title"]</title>
</head>
<body>
    <noscript>
        <strong>We're sorry but Laura Rosales Web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        @RenderBody()
    </div>

    <script src="https://cdn.laurarosales.es/js/jquery.min.js"></script>
    <script src="https://cdn.laurarosales.es/js/bootstrap.min.js"></script>
    <script src="https://cdn.laurarosales.es/js/typed.js"></script>
    <script src="https://cdn.laurarosales.es/js/jquery.easy-pie-chart.js"></script>
    <script src="https://cdn.laurarosales.es/js/owl.carousel.min.js"></script>
    <script src="https://cdn.laurarosales.es/js/wow.js"></script>
    <script src="https://cdn.laurarosales.es/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="https://cdn.laurarosales.es/js/gmap3.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123800549-1"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <script src="https://cdn.laurarosales.es/js/script.js"></script>
</body>
</html>